
<div class="container">
  <div class="top-sticky-navbar">
    <a class="navbar-icon" style="padding: 0 10px;" href="https://kingshoes.vn/kings-and-queens.html"><b>KINGS
      AND QUEENS</b></a>
    <div class="divider"></div>
    <a class="navbar-icon" style="padding: 0 10px;" href="https://kingshoes.vn/thanh-vien"><span
      class="material-symbols-outlined">groups</span><b>CHECK USER</b></a>
    <div class="divider"></div>
    <span class="material-symbols-outlined">phone_in_talk</span>
    <p>Hotline:</p><a href="https://kingshoes.vn/thanh-vien"><b>0909300746</b></a>
  </div>

  <div class="main-sticky-navbar">
    <div class="top-main-sticky-navbar">
      <a href=""><B>GIỚI THIỆU</B></a>
      <a href=""><B>NIKE</B>
        <ul class="dropdown">
          <li>NAM</li>
          <li>NỮ</li>
        </ul>
      </a>

      <a href=""><B>ADIDAS</B>
        <ul class="dropdown">
          <li>NAM</li>
          <li>NỮ</li>
        </ul>
      </a>
      <a href=""><B>JORDAN</B>
        <ul class="dropdown">
          <li>JORDAN NAM/NỮ</li>
        </ul>
      </a>
      <a href=""><B>YEEZY</B>
        <ul class="dropdown">
          <LI>YEEZY NAM/NỮ</LI>
        </ul>
      </a>
      <a href=""><B>GIÀY TENNIS/PICKLEBALL</B></a>
      <a href=""><B>OTHER BRAND</B>
        <ul class="dropdown">
          <LI>SNEAKER AUTHENTIC</LI>
          <LI>GIÀY THỂ THAO CHẠY BỘ-TẬP GYM</LI>
          <LI>DÉP AUTHENTIC</LI>
          <LI>CROP PROTECT VỆ SINH GIÀY SNEAKER</LI>
          <LI>GIÀY THANH LÝ</LI>
          <LI>DÂY GIÀY</LI>
          <LI>GIÀY ORDER</LI>
          <LI>LIÊN HỆ</LI>
        </ul>
      </a>
      <a href=""><B>SALE</B></a>
    </div>

    <div class="middle-main-sticky-navbar">
      <img src="https://kingshoes.vn/data/upload/media/cu%CC%9B%CC%89a-ha%CC%80ng-gia%CC%80y-sneaker-chi%CC%81nh-ha%CC%80ng-uy-ti%CC%81n-nha%CC%82%CC%81t-de%CC%82%CC%81n-king-shoes-authenti-hcm-6.png"
           alt="logo">
      <div class="search">
        <input type="text" placeholder="Nhập từ cần tìm">
        <button>
          <span class="material-symbols-outlined">search</span>
        </button>
        <button
          class="shopping-cart"(click)="navigateToCart()"><span class="material-symbols-outlined">shopping_cart</span>
        </button>
      </div>
    </div>

    <div class="bottom-main-sticky-navbar">
      <a href=""><b>SPA GIÀY</b></a>
    </div>
  </div>

  <div class="big-img">
    <img src="https://kingshoes.vn/data/upload/thumb/banner-sn3web-1571294680-acbihpps-1592386128-hipspcba-1622453987jpg/1903_banner-sn3web-1571294680--acbihpps-1592386128--hipspcba-1622453987.jpg.webp"
         alt="big img">
  </div>

  <div class="guarentee">
    <div class="authentic">
      <img src="image-Photoroom (3).png" alt="">
      <h3>CAM KẾT CHÍNH HÃNG</h3>
      <P><b>100% authentic</b></P>
      <p>Cam kết sản phẩm chính hảng từ Châu âu, Châu mỹ...</p>
    </div>

    <div class="delivery">
      <img src="image-Photoroom (4).png" alt="">
      <h3>GIAO HÀNG HOẢ TỐC</h3>
      <p><b>Express delivery</b></p>
      <p>SHIP hoả tốc 1h nhận hàng trong nội thành HCM</p>
    </div>

    <div class="support">
      <img src="image-Photoroom (5).png" alt="">
      <h3>HỖ TRỢ 24/24</h3>
      <p><b>Supporting 24/24</b></p>
      <p>Gọi ngay 0909300746</p>
    </div>

  </div>
</div>
