<div class="footer-content">
  <div class="left-footer-content">
    <header>
      <img src="https://kingshoes.vn/data/upload/media/cua-hang-giay-sneaker-chinh-giay-uy-tin-nhat-den-king-shoes-authenti-hcm-2-1624430336.png"
           alt=""/>
      <h2><B>THÔNG TIN LIÊN HỆ</B></h2>
    </header>

    <p><b>KINGSHOES.VN</b> Trang Thông Tin Chính Thức.</p>
    <p><strong>⛪ Địa chỉ: 192/2 Nguyễn Thái Bình, Phường 12, Quận Tân Bình, Thành phố Hồ Chí Minh</strong></p>
    <p><strong>⛪ Địa chỉ: 192/2 Nguyễn Thái Bình, Phường Bảy Hiền, Thành phố Hồ Chí Minh</strong></p>
    <p><strong>Email : cskh.kingshoes.vngmail.com</strong></p>
    <p><a href=""><strong>https://kingshoes.vn/</strong></a></p>
    <p><a href=""><strong>https://twitter.com/KingShoes_vn/</strong></a></p>
    <p><a href=""><strong>https://facebook.com/pg/www.KingShoes.vn</strong></a></p>
    <p><a href=""><strong>https://www.youtube.com/www.KingShoes.vn</strong></a></p>
    <p><a href=""><strong>https://www.youtube.com/www.KingShoes.vn</strong></a></p>
    <p><a href=""><strong>http://bit.ly/KINGSHOES_map</strong></a></p>
    <p><a href=""><strong>https://www.tiktok.com/kingshoes_sneaker</strong></a></p>
    <p><strong>☎️ Hotline Bán Hàng: 0909.300.746 - 0909.45.0001</strong></p>
    <p><strong>☎️ Hotline CSKH: 0902.368.001</strong></p>
    <p><a href="">Giày chạy bộ</a>,<a href="">Giày tập gym</a>, <a href="">Giày tập Yoga</a>, <a href="">Giày
      thể thao</a>, <a href="">Giày chính hãng</a></p>
  </div>

  <div class="right-footer-content">
    <div class="top-right-footer-content">
      <div class="client-support">
        <h2>HỖ TRỢ KHÁCH HÀNG</h2>
        <p><a href="">Chăm sóc khách hàng</a></p>
        <p><a href="">Thanh toán</a></p>
        <p><a href="">Hướng dẫn mua hàng</a></p>
      </div>

      <div class="policy">
        <h2>CHÍNH SÁCH</h2>
        <p><a href="">Chế độ bảo hành</a></p>
        <p><a href="">Chính sách đổi hàng</a></p>
        <p><a href="">Bảo mật thông tin</a></p>
        <p><a href="">Chính sách giao nhận</a></p>
      </div>
    </div>

    <div class="certificate">
      <p>Số ĐKKD: 41N8041309 cấp ngày 17/8/2018. Nơi cấp Ủy Ban Nhân Dân Quận Tân Bình.</p>
      <p>Hộ Kinh Doanh: <strong>KINGSHOES. Hotline: 0909.300.746</strong></p>
      <h3>CHỨNG NHẬN</h3>
      <img src="https://kingshoes.vn/data/upload/media/logoSaleNoti.png"/>
    </div>
  </div>

</div>

